<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block title %}{% endblock %}
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Transformation</a></li>
          <li><a href="/pattern" class="nav-link px-2 text-white">Create pattern</a></li>
        </ul>

        <div class="text-end">
          <button onclick="window.location.href = '/signIn';" type="button" class="btn btn-outline-light me-2" href="signIn">Login</button>
          <button onclick="window.location.href = '/signUn';" type="button" type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
{% block body %}{% endblock %}
<hr>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Contact email: duntsev010@mail.ru</span>
        </div>
    </footer>
<br>
</body>
</html>